HELLO! 
<h1>
  {{name}} !
  <small>{{title}}</small>
</h1>
<p> <strong>Email:</strong> {{email}} </p>
<p><strong>Address: </strong> {{address.plot}}, {{address.area}}, {{address.street}}, {{address.city}}-{{address.zip}}</p>
<button (click)="toggleHobbies()">{{showHobbies? "Hide":"Show"}} Hobbies</button>
<div *ngIf="showHobbies">
<strong>Hobbies:</strong>
    <ul>
        <li *ngFor="let hobby of hobbies; let i = index">
            {{hobby}} <button (click)="deleteHobby(i)">X</button>
        </li>
    </ul>
    <form (submit)="addHobby(hobby.value)">
        <label>Add Hobby:</label><br/>
        <input type="text" #hobby /><br/>
    </form>
</div>
<hr/>
<h3> Edit User</h3>
<form>
    <input type="text" name="name" [(ngModel)]="name"/><br/>
    <input type="text" name="email" [(ngModel)]="email"/><br/>
    <input type="text" name="plot" [(ngModel)]="address.plot"/><br/>
    <input type="text" name="area" [(ngModel)]="address.area"/><br/>
    <input type="text" name="street" [(ngModel)]="address.street"/><br/>
    <input type="text" name="city" [(ngModel)]="address.city"/><br/>
    <input type="text" name="zip" [(ngModel)]="address.zip"/><br/>
</form>
<hr/>
<div *ngFor="let post of posts">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
</div>